
.container {
  padding: 0;
  margin: 0;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding: 60px;
  /* background: linear-gradient(35deg, 	#569EFB, #0870F9, rgb(27, 90, 172)); */
  font-family: 'Lora', serif;
}
.title {
  /* color: white; */
    display: flex;
    justify-content: center;
    padding: 20px;
}
.subtitle {
  /* color: white; */
    display: flex;
    justify-content: center;
    padding: 20px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  
  .container {
    padding: 0;
    margin: 0;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    background: linear-gradient(35deg, 	#569EFB, #0870F9, rgb(27, 90, 172));
    font-family: 'Lora', serif;
  }
  .title {
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 140%;
    padding-top: 40px;
  }
  .subtitle {
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 90%;
    padding-bottom: 40px;
  }
  
}